* {
  margin: 0;
  padding: 0;
  text-decoration: none; /*gets rid of the underline under the text*/
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows:auto;
  grid-gap: 1rem;
  background-color: #03a3df;
  padding: 1rem;
}

.headerfig {
width: 180px;
padding-left: 2rem
}

nav {
  padding-top: 1.5rem;
  display: inline-block;
}

.navlist {
    list-style: none;
    white-space: nowrap;
    padding-right: 1.5rem;
    font-family: Helvetica Neue;
    color: black;
    font-size: 20px;
    float: right;
}

main {
  display:grid;
  grid-template-columns: 35% 65%
}
